# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
ENV/
env/

# Environment variables
.env
.env.*

# Database files
db/
*.csv
chroma_db/
temp.csv
database/
*.db
*.sqlite3

# Cache
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Editor/IDE files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
logs/
